/ {
  //  aliases{
   //     app-led = &green_led_4;
  //  };

    my_sensor: our_sensor {
        compatible = "our,driver";
        gpios = <&gpio4 17 GPIO_ACTIVE_LOW>;
        status = "okay";
    };
};